
{% extends 'base.html' %}
{%load static%}
{% block body %}  
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-xl-6 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="zoom-in">
          <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
        </div>

        <div class="col-xl-6 col-lg-6 d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
          <div class="box-heading" data-aos="fade-up">
            <h4>About us</h4>
            <h3>Biggest AI based E-learning Education Platform</h3>
            <p>Lowkot AI based E-learning education platform which will simultaneously provide free education to millions of students in the world by deploying solutions at scale to produce better outcomes and sustainable growth.</p>
          </div>

          <div class="icon-box" data-aos="fade-up">
            <div class="icon"><i class="bx bx-fingerprint"></i></div>
            <h4 class="title"><a href="">Education Program</a></h4>
            <p class="description">Formalized teaching program with well-established curriculum through E-learning for all Students from across the globe will be free to study and for everyone. </p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bx-gift"></i></div>
            <h4 class="title"><a href="">Student Empowerment</a></h4>
            <p class="description">Unique platform to empower students and job seekers under one platform  with the quality of job vacancies in every field.</p>
          </div>

          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-atom"></i></div>
            <h4 class="title"><a href="">well-being For Social Activities</a></h4>
            <p class="description">For support NGOs with well-being for social activities on this fundamental goal and provide a systematic process for bringing coherence and discipline to social activities strategies.</p>
          </div>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  {%endblock%}